<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Valorant (5 members)</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
            (Team of 4)
          </p>
          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Call Of Duty Mobile</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
            (Team of 4)
          </p>
          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Stumble Guys Mobile</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
            (Team of 4)
          </p>
          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Smash Karts Mobile</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
            (Team of 4)
          </p>
          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>BGMI Solo</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
            (Team of 4)
          </p>
          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
        </div>
      </div>
    </div>

      <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>BGMI Duo</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>TDM Duo Battles
              Cash prize will be given to the winners.
            <a href="https://docs.google.com/document/d/1VgSZuAYVVaa0ejorTfYVDkZVKp5bqjRIzIatvZ3oYbQ/edit">Rules</a>
            </p>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB1dbxGOYK8cK" async> </script> </form>
          </div>
        </div>
      </div>

      <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>BGMI Squad</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>TDM Squad Battles
              Cash prize will be given to the winners.
              <a href="https://docs.google.com/document/d/1VgSZuAYVVaa0ejorTfYVDkZVKp5bqjRIzIatvZ3oYbQ/edit">Rules</a>
            </p>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB3TRo61lnHH9" async> </script> </form>
          </div>
        </div>
      </div>

      <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>Chess</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
              (Team of 4)
            </p>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
          </div>
        </div>
      </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>